<div class="jumbotron">
  <h1>Super Secret Puppies</h1>
  <p>All the puppies you could need, kept safe under lock and key.</p>
  <%= link_to "See the puppies now!", puppies_path, class: "btn btn-primary btn-lg" %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Premium puppy pics</h2>
    <p>You know who you are and you know what you want. You want pictures of
    puppies and this site is the site for you.</p>
  </div>
  <div class="col-md-4">
    <h2>Free user accounts</h2>
    <p>Pictures of puppies are great, but signing up to see them in order to
    keep those pictures secure is even greater.</p>
  </div>
  <div class="col-md-4">
    <h2>Some third benefit</h2>
    <p>Marketing sites usually have a third thing here, but when you already
    have puppies and security, you only need two features.</p>
  </div>
</div>
